<%- include ("partials/header") -%>

<section id="banner"></section>

<section id="email">
    <div class="container-fluid">
        <h2 class="text-center">Get the inside scoop on the latest news!</h2>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <input type="name" class="form-control form-group" placeholder="name">
                    </div>

                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <input type="email" class="form-control form-group" placeholder="email">
                    </div>

                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <input type="button" value="Sign up" class="form-group btn btn-block btn-info">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="new">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2017/02/11/14/19/valentines-day-2057745_960_720.jpg" alt="Valentine's Day Chocolate Box" class="img-fluid" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="text-center">Brand New!</h2>
                <h3 class="text-center">Apollo Valentines</h3>
                <p>Elizabeth was excessively disappointed; she had set her heart on seeing the Lakes, and still thought there might have been time enough. But it was her business to be satisfied--and certainly her temper to be happy; and all was soon right again.</p>
                <button class="btn btn-block btn-success">Order Now</button>
            </div>
        </div>
    </div>
</section>

<section id="featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2016/11/22/18/52/cake-1850011_960_720.jpg" alt="chocolate cake" class="img-fluid" />
                <h3 class="text-center">Recipes</h3>
                <p>Elizabeth was excessively disappointed; she had set her heart on seeing the Lakes, and still thought there might have been time enough. But it was her business to be satisfied--and certainly her temper to be happy; and all was soon right again.</p>
                <button class="btn btn-block btn-info">Learn More</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2014/10/16/09/45/chocolate-santa-claus-490825_960_720.jpg" alt="Santa Claus chocolate" class="img-fluid" />
                <h3 class="text-center">Coming Soon!</h3>
                <p>Elizabeth was excessively disappointed; she had set her heart on seeing the Lakes, and still thought there might have been time enough. But it was her business to be satisfied--and certainly her temper to be happy; and all was soon right again.</p>
                <button class="btn btn-block btn-info">Learn More</button>
            </div>
        </div>
    </div>
</section>

<%- include ("partials/footer") -%>